<div class="overview-title">
  <h1>1 Overview</h1>
</div>
<div class="overview-container">
  <div class="overview-grid">
    <div class="column">
      <div class="filler filler1"></div>
      <div class="filler filler2"></div>
    </div>
    <div class="column">
      <div class="filler filler3"></div>
      <div class="filler filler4"></div>
    </div>
    <div class="column">
      <div class="filler filler5"></div>
      <div class="filler filler6"></div>
    </div>
    <div class="column">
      <div class="filler filler7"></div>
      <div class="filler filler8"></div>
    </div>
  </div>

  <div class="text-wrapper">
    <div class="about-me">
      <p>
        Graphics and digital designer based in Italy, i love climbing, stop. no
        place for other bullshit, i'm sorry. if you want to climb together you
        can call me, but my partner Filippo will be very jelous :3
      </p>
    </div>

    <div class="contacts-container">
      <p>
        Let's make something great together: send me an email at
        delsal.lorenzo@gmail.com or text me via telegram
        <a href="">@lorenzo</a>
      </p>
    </div>
  </div>
</div>
